.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F9F9F9;
}

h1 {
  margin: 30px;
  font-family: font-family: 'Rowdies', cursive;;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #27496D;
}

p {
  font-size: 2rem;
  color: #6886C5;
  font-family: font-family: 'Rowdies', cursive;;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #6886C5;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
